@media(min-width: 788px){
    .section-base{
        background-color: #e7edf0; 
        padding: 5%; 
        padding-top: 4%; 
        padding-bottom: 4%; 
        border: 1px solid #7b7b8f; 
        border-radius: 8px;
    }
}

.section-base{
    margin-top: 5%;
    max-width: 900px;
    margin-bottom: 5%;
}

body{
    margin: 0;
    background-image: linear-gradient(to right, #D1D4D7, #D2DEE6);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
}