.section-base{
    margin-top: 5%;
    max-width: 900px;
    margin-bottom: 5%;
}

body{
    margin: 0;
    background-image: linear-gradient(to right, #D1D4D7, #D2DEE6);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
}